.cocktail-card {
  width: 100%;
  min-width: 256px;
  max-width: 384px;
  border-radius: 32px;
  overflow: hidden;
  height: 421px;
}
.cocktail-card__inner {
  display: flex;
  flex-direction: column;
  padding: 24px 32px;
  height: 100%;
  margin-top: -421px;
  flex-wrap: wrap;
  z-index: 10;
  position: relative;
}
.cocktail-card__alcohol-sticker {
  width: 80px;
  height: 80px;
  background: #0E0D13;
  border-radius: 24px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
  color: #C4C1CF;
  margin-top: -6px;
  margin-left: -14px;
  text-align: right;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cocktail-card__alcohol-present {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  color: #FFFFFF;
}
@media screen and (min-width: 608px) {
  .cocktail-card {
    width: calc((100% - 32px) / 2);
  }
}
@media screen and (min-width: 898px) {
  .cocktail-card {
    width: calc((100% - 64px) / 3);
  }
}
@media screen and (min-width: 1280px) {
  .cocktail-card {
    width: calc((100% - 96px) / 4);
  }
}
@media screen and (min-width: 1696px) {
  .cocktail-card {
    width: calc((100% - 128px) / 5);
  }
}