.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #201F2E;
  z-index: 1000;
  padding-top: 32px;
  min-height: 120px;
}
.header::after {
  content: "";
  bottom: -63px;
  left: 0;
  position: absolute;
  width: 100%;
  display: block;
  height: 64px;
  background: linear-gradient(180deg, #201F2E 0%, rgba(32, 31, 46, 0) 100%);
}
.header__text-wrapper {
  padding-right: 112px;
}