.text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: normal;
  text-align: justify;
  color: #C4C1CF;
}
.text--exclusion {
  display: flex;
  width: 100%;
}
.text--exclusion::after {
  content: "";
  order: 2;
  margin: 0 5px;
  width: 100%;
  border-bottom: 2px dotted #C4C1CF;
  height: 14px;
}
.text__exclusion-item {
  white-space: nowrap;
  font-size: 18px;
  line-height: normal;
}
.text__exclusion-item:first-child {
  order: 1;
}
.text__exclusion-item:last-child {
  order: 3;
}
.text--no-result {
  font-weight: normal;
  font-size: 24px;
  line-height: normal;
  text-align: center;
  letter-spacing: 0.07em;
  color: #FFFFFF;
  margin-top: 16px;
}